PGHOST='ep-solitary-feather-acmsusr6-pooler.sa-east-1.aws.neon.tech'
PGDATABASE='neondb'
PGUSER='neondb_owner'
PGPASSWORD='colocar a senha que esta no drive'
PGSSLMODE='require'
PGCHANNELBINDING='require'

PORT=3000
JWT_SECRET='nova_chave_segura_bpa_ufpe_2026_redefinida'
JWT_EXPIRES_IN='8h'