# Configurações do Banco de Dados Neon
DB_HOST=ep-solitary-feather-acmsusr6-pooler.sa-east-1.aws.neon.tech
DB_NAME=sistema-BPA
DB_USER=neondb_owner
DB_PASSWORD=sua_senha_aqui
DB_PORT=5432

# Configurações do Servidor
PORT=3000

# Autenticação
JWT_SECRET=sua_chave_jwt_secreta_aqui
JWT_EXPIRES_IN=8h