# Configurações do Banco de Dados Neon (PostgreSQL)
PGHOST='seu_host_postgres'
PGDATABASE='nome_do_banco'
PGUSER='usuario_do_banco'
PGPASSWORD='sua_senha'
PGSSLMODE='require'
PGCHANNELBINDING='require'

# Configurações do Servidor
PORT=3000

# Autenticação
JWT_SECRET=sua_chave_jwt
JWT_EXPIRES_IN='8h'

# Configurações do e-mail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=seu-email-do-projeto@gmail.com
EMAIL_PASS=sua_senha_de_app_aqui
EMAIL_FROM="Suporte BPA <seu-email-do-projeto@gmail.com>"

# URLs do Sistema
FRONTEND_URL=http://localhost:5173